---
Language:        Cpp
BasedOnStyle:  LLVM
AlignConsecutiveMacros:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: WebKit
IndentPPDirectives: AfterHash
...
