# Test executables
/test/*_test
/example/*_test

# Test data
/example/*.csv
/example/*.txt

### CMake ###
compile_commands.json

### C ###
# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# pdm
.pdm.toml
pdm.lock
.pdm-python
